.signupContainer {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  height: calc(85vh);
  text-align: center;
}

.signupContent {
  display: flex;
  justify-content: center;
}

.signupEmail {
  margin-top: calc(30vh);
}

.signupEmail input {
  font-size: 20px;
  padding: 4px;
  border: none;
  border-bottom: solid 2px lightblue;
  outline: none;
  width: 60%;
}

.signupInfo {
  margin-top: calc(30vh);
}

.signupInfo input {
  font-size: 20px;
  padding: 4px;
  border: solid 1px lightblue;
  border-bottom: solid 2px lightblue;
  outline: none;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}

.signupInfo input:focus {
  border-color: lightgreen;
}

.signupInfo label {
  display: block;
  text-align: left;
  color: rgb(100,100,100);
}

.signupNameFields {
  display: flex;
  justify-content: space-between;
  text-align: left;

}

.signupNameFields input {
  width: 80%;
}

.passwordFields {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.passwordFields input {
  width: 80%;
}